
<div class="well">
	<div class="row">
		<div class="col-xs-offset-5 pl-5 pt-5">
			<div class="lds-ripple" id="charts-loader"><div></div><div></div></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			<canvas id="products-by-city-chart" class="chartStyle"></canvas>
		</div>
		<div class="col-xs-6">
			<canvas id="products-by-cat-pie" class="pieStyle"></canvas>
		</div>
	</div>
</div>