@model Neighbors.Models.ProductSearch


<div class="row well">
	<div class="row">
		<div class="col-md-offset-1">
			<div class="input-group ml-2" id="adv-search">
				<input type="text" class="form-control" placeholder="Search for products" />
				<div class="btn-transparent input-group-btn pr-2">
					<div class="btn-group" role="group">
						<div class="dropdown dropdown-lg">
							<button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="search-menu-trigger"><span class="caret"></span></button>
							<div class="dropdown-menu dropdown-menu-right p-5" role="menu">

								<form id="search-form" asp-action="Search" asp-controller="Products" class="form-horizontal" data-ajax="true" data-ajax-method="get">
										
									<div class="row flex-container">
										<div class="col-xs-11">
											<div class="row">
												<div class="col-xs-6">
													<label asp-for="Name" class="control-label"></label>
													<input asp-for="Name" placeholder="What are you looking for?" type="text" id="search-name" class="form-control m-2" />
												</div>
												@* Price Range Filter *@
												<div class="col-xs-3 form-group">
													<label asp-for="MinPrice" class="control-label"></label>
													<div class="input-group m-2">
														<input asp-for="MinPrice" id="min-price" type="number" min="0" class="form-control" placeholder="00.00" />
														<div class="input-group-addon">
															<span class="input-group-text">₪</span>
														</div>
													</div>
												</div>
												<div class="col-xs-3 form-group">
													<label asp-for="MaxPrice" class="control-label"></label>
													<div class="input-group m-2">
														<input asp-for="MaxPrice" id="max-price" type="number" min="0" class="form-control" placeholder="00.00" />
														<div class="input-group-addon">
															<span class="input-group-text">₪</span>
														</div>
													</div>
												</div>
											</div>
											
											@* Categories Filter *@
											<div class="form-group">
												<label asp-for="CategoryId" id="search-category" class="control-label"></label>
												@Html.DropDownListFor(m => m.CategoryId,
														Enumerable.Empty<SelectListItem>(),
														"Categories",
														new { id = "catList_2", @class = "form-control m-2" })
											</div>
											<div class="row">

												@if (Model.Location == null) { Model.Location = new Location(); }

												@* Cities Filter *@
												<div class="form-group col-xs-4">
													<label asp-for="Location.City" class="control-label"></label>
													@Html.DropDownListFor(m => m.Location.City,
															Enumerable.Empty<SelectListItem>(),
															"Cities",
															new { id = "search-city", @class = "form-control m-2" })
												</div>
												@* StreetAddress Filter *@
												<div class="col-xs-7 form-group">
													<label asp-for="Location.StreetAddress" class="control-label"></label>
													<input asp-for="Location.StreetAddress" id="search-address" placeholder="Maybe there is somebody near your block?" type="text" for="contain" class="form-control m-2" />
												</div>
											</div>
										</div>
											
										<button type="button" class="btn btn-info flex-item" onclick="searchProducts()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	try {
		getCategories("#catList_2");
		getCities();
	}
	catch { }

</script>