@model Neighbors.Models.Product

@{
    ViewData["Title"] = "Offer a product";
}

<h2>Offer a new product</h2>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddNewProduct" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" type="text" placeholder="Pick a nice name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group center-items min-form-control-width">
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control mr-5 min-form-control-width" asp-items="ViewBag.CategoryId">
                        <option value="" disabled selected>Existing Categories</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <button type="button" class="btn btn-info btn-sm m-5" data-toggle="collapse" data-target="#addCategory">
                    Add New Category
                </button>
            </div>

            <div id="addCategory" class="collapse min-form-control-width">
                <partial name="/Views/Categories/_CreateCatPartial.cshtml" />
            </div>


            @*<div class="form-group">
                <!-- should automatically be the user ID ??? -->
                <label asp-for="OwnerId" class="control-label"></label>
                <!-- After merging ksenya commit, add the following -
        <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            -->
                <input asp-for="OwnerId" class="form-control" />
                <span asp-validation-for="OwnerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="AvailableFrom" class="control-label"></label>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input asp-for="AvailableFrom" type="date" class="form-control" placeholder="Date" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <span asp-validation-for="AvailableFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableUntil" class="control-label"></label>
                <input asp-for="AvailableUntil" type="date" class="form-control" placeholder="Date" />
                <span asp-validation-for="AvailableUntil" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Price" type="number" class="form-control" placeholder="00.00" />
                    <div class="input-group-addon">
                        <span class="input-group-text">₪</span>
                    </div>
                </div>

                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Offer" class="btn btn-default" />
            </div>
        </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
