@model Neighbors.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit @Model.Name</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProduct" method="post" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" disabled />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AvailableFrom" class="control-label"></label>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input asp-for="AvailableFrom" type="date" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="AvailableFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvailableUntil" class="control-label"></label>
                <div class="form-group">
                    <div class='input-group date'>
                        <input asp-for="AvailableUntil" type="date" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <span asp-validation-for="AvailableUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary btn-sm" /> |
                <a asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
