@model Neighbors.Models.Category

<div class="panel panel-info">
    <div class="panel-heading left-items">
        <h3 class="panel-title">Category Addition</h3>
    </div>
    <div class="panel-body center-items">
		<div class="form-inline">
			<div class="text-left">
				<label asp-for="Name" class="control-label"></label>
			</div>
			<input asp-for="Name" class="form-control m-2  min-inline-form-group-width" />
			<span asp-validation-for="Name" data-valmsg-for="Name" class="text-danger"></span>
		</div>
    </div>
</div>
    

