@{
    ViewData["Title"] = "Neighbors - Contact us";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>@ViewData["Text"]</p>

<address>
    Eli Vizel 1<br />
    Rishon Lezion, Israel<br />
    <abbr title="Phone">P:</abbr>
    03-3333555
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@neighboers.com">Support@neighboers.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@neighboers.com">Marketing@neighboers.com</a>
</address>
