@using Microsoft.AspNetCore.Identity
@using Neighbors.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Home Page";
    <center>
        <div id="logo1" class="row fadeIn">
            <img src="~/images/logo.png" />
        </div>
        <div class="row">
            <div id="logo2" class="col-xs-6 fadeIn">
                <a asp-controller="Products" asp-action="Index">
                    <img src="~/Images/im_borrower.png" alt="" hspace="20" />
                </a>
            </div>
            <div class="col-xs-6">
            </div>
			<div id="logo3" class="fadeIn">
				<button type="button" class="btn-transparent" id="modal-trigger"
						data-toggle="modal">
					<img src="~/Images/im_lander.png" alt="" />
				</button>
			</div>
        </div>
    </center>
	<div id="share" class="fadeIn">
		<a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/Borrow-from-Neighbors-178000796406242/?modal=admin_todo_tour"
		   title="share on facebook">
			<img src="http://www.crap-magazine.com/wp-content/themes/crap-mag/images/buttons/fb-share-button.png" />
		</a>
	</div>

}


<script>
	$('#logo1').fadeIn(1000);
	$('#logo2').fadeIn(2000);
	$('#share').fadeIn(2000);
	$('#logo3').fadeIn(3000);
</script>