@{
    ViewData["Title"] = "Home Page";
<center>
    <img src="~/images/logo.png" />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <a asp-controller="Products" asp-action="Index">
        <img src="~/Images/im_borrower.png" alt="" hspace="20"/>
    </a>
    <a asp-controller="Products" asp-action="Create">
        <img src="~/Images/im_lander.png" alt="" />
    </a>
</center>
    
}


