@using Microsoft.AspNetCore.Identity
@using Neighbors.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Home Page";
    <center>
        <div class="row">
            <img src="~/images/logo.png" />
        </div>
        <div class="row">
            <div class="col-xs-6">
                <a asp-controller="Products" asp-action="Index">
                    <img src="~/Images/im_borrower.png" alt="" hspace="20" />
                </a>
            </div>
            <div class="col-xs-6">
            </div>

            <button type="button" class="btn-transparent" id="modal-trigger"
                    data-toggle="modal">
                <img src="~/Images/im_lander.png" alt="" />
            </button>
        </div>
    </center>
    <a href="http://www.facebook.com/sharer.php?u=https://www.facebook.com/Borrow-from-Neighbors-178000796406242/?modal=admin_todo_tour"
       title="share on facebook">
        <img src="http://www.crap-magazine.com/wp-content/themes/crap-mag/images/buttons/fb-share-button.png" />
    </a>

}


