<!DOCTYPE html>
<html>
<head>
   
    @{
    ViewData["Title"] = "Nothing to see here!";
    }
    <style>
        h2 {
            font-family: "Comic Sans MS", Times, serif;
            font-size: 45px;
        }
        .userError {
            font-family: "Comic Sans MS", Times, serif;
            font-size: 15px;
        }
    </style>
    <h2>@ViewData["Title"]</h2>
    <br />
    <p class="userError">
        You tried to perform an invalid action.
        <br />
        If it happens again please contact us at Support@neighboers.com

        </div>
        <br />
</head>
<body>

</body>
</html>