<!DOCTYPE html>
<html>
<head>
   
    @{
    ViewData["Title"] = "Nothing to see here!";
    }
    <style>
       
    </style>
    <h2>@ViewData["Title"]</h2>
    <br />
    <p>
        You tried to perform an invalid action.
        <br />
        If it happens again please contact us at Support@neighboers.com

        </div>
        <br />
</head>
<body>

</body>
</html>