<!DOCTYPE html>
<html>
<head>
   
    @{
    ViewData["Title"] = "Oops!";
    }
    <style>
       
    </style>
    <h2>@ViewData["Title"]</h2>
    <br />
    <p>
        It seems that we had an error.
        <br />
        If it happens again please contact us at Support@neighboers.com
    </p>

    </div>
    <br />
</head>
<body>

</body>
</html>