<!DOCTYPE html>
<html>
<head>
   
    @{
    ViewData["Title"] = "Oops!";
    }
    <style>
        h2 {
            font-family: "Comic Sans MS", Times, serif;
            font-size: 45px;
        }
        .error {
        font-family: "Comic Sans MS", Times, serif;
        font-size: 15px;
        }
    </style>
    <h2>@ViewData["Title"]</h2>
    <br />
    <p class="error">
        It seems that we had an error.
        <br />
        If it happens again please contact us at Support@neighboers.com
    </p>

    </div>
    <br />
</head>
<body>

</body>
</html>