@model Neighbors.Models.Category

<div class="min-inline-form-group-width max-form-panel">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Category Addition</h3>
        </div>
        <div class="panel-body">
            <form asp-action="AddNewCategory" method="post">
                <div class="form-inline center-items">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control m-2" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <button type="submit" class="btn-transparent form-control-static">
                        <span class="glyphicon glyphicon-plus" />
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
    

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
