@model ICollection<Neighbors.Models.Product>


<table class="table">
    <thead>
        <tr>
            <th>
               My Products
            </th> 
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>



